@import "../../responsive.scss";

.filter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: auto;
    background-color: #AFE3F9;
    border-radius: 20px;
    padding: 20px 20px;
    margin-top: 30px;
    
    h1 {
        font-size: 24px;
        font-weight: 400;
    }
 
    .top {
        .itemTop {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px; 
            input {
                outline: none;
                background: none;
                border: none;
                font-size: 18px;
                color: #040415 !important;
                width: 100%;
            }       
        }
        
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        @include md {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 20px;
        }
        .item {
            display: flex;
            flex-direction: column;
            gap: 2;
            // input[type="range"] {
            //     outline: none !important;
            //     border: none !important;
            //     width: 150px;

            //     @include md {
            //         width: 100%;
            //     }
            // }
            .range {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 200px;
                justify-content: space-evenly;
                // flex: 1;
                @include md {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
            input[type="number"] {
                border-radius: 30px;
                border: none;
                @include md {
                    width: 100%;
                }

            }
        }
        label {
            font-size: 15px;
            padding: 0px 20px;
            padding-bottom: 10px;
            @include md {
                padding: 10px 0px;
            }
        }
        input{
            width: 100px;
            padding: 10px;
            color: #040415;

            // @include md {
            //     padding: 0px;
            // }
        }
        select {
            background-color: white;
            outline: none !important;
            border-radius: 20px;
            border: none;
            padding: 10px 10px;
            padding-right: 40px;
            // appearance: none;
            align-items: center;
            display: block;
            color: #666666;
            @include md {
                padding: 10px 10px;
                padding-right: 40px;
            }
        }
    }

    button {
        width: 100px;
        padding: 10px 0px;
        cursor: pointer;
        background: #040415;
        color: #fafafa;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        font-size: medium;

        @include md {
            width: 100%;
        }
    }
}