@import "../../responsive.scss";

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    background-color: white;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px rgba(235, 235, 235, 0.544);
    border-radius: 20px;
    max-height: 250px;
    padding: 20px;
    text-align: center;

    @include lg {
        max-height: fit-content;

    }
    @include md {
        max-height: fit-content;
    }

    @include sm {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: fit-content;
        text-align: left;
    }
    .imageContainer {
        display: block;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 200px;
        align-content: center;
        justify-content: center;

        @include sm {
            width: 100%;
        }
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    .textContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        height: 100%;

        @include sm {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 100%;
        }
        .detailsContainer {
            flex: 3;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px;
            @include md {
                width: 100%;
                justify-content: space-between;
            }
            @include sm {
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                width: 100%;
            }
            .left {
                display: flex;
                flex-direction: column ;
                text-align: left;
                gap: 10px;
                .title {
                    font-size: 17px;
                    text-align: left;
                    font-weight: 600;
                    transition: all 0.4s ease;
                    &:hover {
                        scale: 1.01;
                    }
                    @include sm {
                    font-size: 15px;
                    }
                }
                .address {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    @include sm {
                        font-size: 14px;
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                @include sm {
                    flex-direction: row;
                    gap: 20px;
                    width: 100%;
                    justify-content: space-between;
                    align-items: flex-start;
                }


                .price {
                    span {
                        font-size: 18px;
                        font-weight: 700;
                        color: #0B6E98;
                    }
                }
                .features {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px 0px;

                    @include sm {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        justify-content: space-between;
                        
                    }
                    .feature {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        justify-content: flex-start;
                        @include sm {
                            width: 100%;
                            
                        }
                    }
                    .divider {
                        border: 0;
                        height: 1px;
                        background-color: #666666;
                        margin: 10px 0;
                        width: 100px;
                        @include sm {
                            display: none;
                        }
                    }
                }
               
            }
        }
        .divider {
            width: 500px;
            
        }
        .btnContainers {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: flex-end;
            justify-content: flex-end;
            button {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                
            }
        }
    }
}