@import "../../responsive.scss";


.layout {
    height: 100vh;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 60px;
    // padding-right: 60px;
    background-color: #FAFAFA;

    @include lg {
        // background-color: hsl(197, 61%, 90%);
    }
    @include md {
        // background-color: hsl(0, 0%, 98%);
    }
    @include sm {
        // background-color: hsl(36, 67%, 86%);
        // padding-left: 30px;
        // padding-right: 30px;
    }

    .navbar {
        padding-left: 50px;
        padding-right: 50px; 
        @include sm {
            padding-left: 40px;
            padding-right: 40px; 
        }
    }
    .content {
        // background-color: #AFE3F9;
        height: calc(100vh - 100px);
        width: calc(100vw - 100px);
        margin: auto;
        // padding-left: 60px;
        // padding-right: 60px;
        @include sm {
            padding-left: 40px;
            padding-right: 40px; 
            height: 100%;
            width: auto;
            background-color: transparent;
            border-radius: 0px;
            
        }
    }
}