@import "./responsive.scss";


.layout {
    height: 100vh;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 60px;
    // padding-right: 60px;

    @include lg {
        background-color: hsl(197, 61%, 90%);
    }
    @include md {
        background-color: hsl(0, 0%, 98%);
    }
    @include sm {
        background-color: hsl(36, 67%, 86%);
        padding-left: 30px;
        padding-right: 30px;
    }
}